@{
    ViewData["Title"] = "Home Page";
}


    <div>
        <h1>Form parameters parsing demo</h1>
        <ul>
            <li><a asp-controller="Home" asp-action="ManualParsingInSingle">Manual parsing in single action</a></li>
            <li><a asp-controller="Home" asp-action="ManualParsingInSeparate">Manual parsing in separate actions</a></li>
            <li><a asp-controller="Home" asp-action="ModelBindingInParams">Model binding (parameters)</a></li>
            <li><a asp-controller="Home" asp-action="ModelBindingInSeparateModel">Model binding (separate model)</a></li>
        </ul>
    </div>

